@font-face {
    font-family: 'Lucidity';
    src: url('/fonts/FontsFree-Net-lucidity-condensed.ttf');
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Lucidity';
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.container.page {
    align-items: flex-start;
}
h1 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    margin-top: 42px;
}